.task_brief{
    
     margin-top: 15px !important;
    display: flex;
   
    /* border: 2px solid; */
    /* flex-direction: row; */
}
.task_view1{
    background-color: rgba(238, 242, 242, 0.701);
    /* display: flex; */
    height: 150px;
    width: 250px;
    border-color: transparent !important;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 35px;
    border: 2px solid;
    /* flex-direction: row; */
}
.arrange{
    /* margin-top: 15px !important; */
    /* display: flex; */
    /* flex-direction: column; */
}
.task-details-card{
    max-width: 800px;
    margin: 40px auto;               /* center horizontally */
    padding: 20px;
    margin-left: -1400px;
    margin-top: 280px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: left;
    display: flex;
    flex-direction: row;
   
}

.task-details-card1{
    /* display: flex; */
    /* margin-top: 220px; */
    /* position: absolute; */
    margin-left: 50px;
    /* text-align: left; */
   
}
#btn_view{
    background-color: black;
    color: white;
    width: 150px;
    height: 28px;
}
p{
    font-size: 18px;
}
.arrange{
    margin: auto;
    max-width: 1500px;
}