.manager_request_form{
border: 2px solid transparent;
height: 350px;
max-width: 550px;
margin: auto;
background-color: rgba(238, 242, 242, 0.701);
margin-top: 50px;
}
.request_label{
padding-top: 55px;
position: absolute;
font-size: 18px;
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.request_input{

position: relative;
margin-top: 55px;
margin-left: 120px !important;

}
.textarea{

}
#mbtn{
width: 430px;
height: 32px;
margin-top: 50px;
background-color: black;
color: white;
font-weight: bold;
font-size: 16px;
}